* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #fff;
  color: #000;
}
li {
  list-style: none !important;
}
a {
  text-decoration: none !important;
  color: #000 !important;
}
.btn-addToCart {
  padding: 10px !important;
  border-radius: 10px !important;
  border: 1px solid #adadad;
  width: 100%;
  background-color: #000;
  color: #fff;
  z-index: 999;
}
.absolute {
  position: relative !important;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total-price {
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.justify-between {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.justify-between h3 {
  font-size: 16px !important;
  font-weight: 500 !important;
}
